################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practices.Interop.CSharp/bin/Debug/net5.0
