################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practices.Interop.CSharp/bin/Debug/net5.0
/Practices.Interop.CSharp/obj
/Practices.Interop.CSharp/.vs/Practices.Interop.CSharp/v16
